# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.cover
*.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.hypothesis
*.coverage
*.pytest_cache/

# Poetry
.poetry/
*.lock

# Docker
.docker/
docker-compose.override.yml

# Jupyter Notebooks
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Environment files
.env
.env.*
.venv/
